body {
    background: linear-gradient(to right, #7f00ff, #e100ff);
}

ul {
    margin: 0;
}

h5 {
    color: #000;
}

h3 {
    color: #504f4f;
}

hr {
    border-bottom: 5px solid rgba(172, 0, 254, 0.9);
}

.btn-d {
    height: 20px;
}

.bg-steel {
    background-color: #5f788a;
}

.my-color {
    background-color: #e100ff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #d6eefd;
    padding: 10px 20px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 70px;
    width: 70px;
    margin-right: 16px;
}

.user-img {
    height: 200px;
    width: 200px;
    margin-right: 5rem;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}